body.welcome
  .bg-container
    width: 80%
    max-width: 400px
    min-height: 300px
    margin: 0 auto
    background-image: url('../../app/images/secret-squirrel-logo.png')
    background-size: 70%
    background-repeat: no-repeat
    background-position: center
    text-align: center
    position: relative
    .button
      position: relative
      top: 230px