<h1>Logins</h1>

<form class="form-inline" role="form">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
</form>

<div class="login-list col-md-6">
  <div ng-repeat="login in logins" class="login-item" ng-click='select(login)' ng-class="{selected: selected.id==login.id}">
    <h3>{{login.name}} <small>{{login.url}}</small></h3>
    <p>
      {{login.notes}}
    </p>
  </div>
</div>

<div class="col-md-6" ng-if="selected">
  <dl ng-repeat="secret in selected.secrets" class="dl-horizontal">
    <dt>{{secret.label}}</dt>
    <dd>**********</dt>
  </dl>
</div>
