<h1>Logins</h1>

<form class="form-inline" role="form">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
</form>

<div class="login-list col-md-6">
  <div class="login-item selected">
    <h3>AWS <small>https://aws.amazon.com</small></h3>
    <p>
      EC2 and S3 Configured, billed to company credit card.
    </p>
  </div>
  <div class="login-item">
    <h3>Engineyard <small>http://engineyard.com</small></h3>
    <p>
      Rails hosting for clients
    </p>
  </div>
  <div class="login-item">
    <h3>Linode <small>http://linode.com</small></h3>
    <p>
      Legacy Rails hosting
    </p>
  </div>
</div>

<div class="col-md-6">
  <dl class="dl-horizontal">
    <dt>Login Email<dt>
    <dd>user@example.com</dd>
    <dt>Login Password<dt>
    <dd>*********</dd>
    <dt>Access Key ID<dt>
    <dd>*********</dd>
    <dt>Secret Access Key<dt>
    <dd>*********</dd>
  </dl>
</div>
