nav
  background: #333
  height: 50px
  padding: 0 10px
  ul
    padding: 0
    margin: 0
    li
      text-transform: uppercase
      line-height: 50px
      color: #fff
      padding: 0
      margin: 0
      list-style: none
      cursor: pointer
      display: inline-block
      margin-right: 20px
      font-size: 12px
      &.active
        text-decoration: underline