breakpoint-palm()
  @media (max-width: 480px)
    {block}

breakpoint-lap()
  @media (min-width: 481px) and (max-width: 1023px)
    {block}

breakpoint-portable()
  @media (max-width: 1023px)
    {block}

breakpoint-desk()
  @media (min-width: 1024px)
    {block}