// set this to true in an IE specific stylesheet. When set to true, all the indicated code within media queries will be pulled out of the media queries forcing the desktop version to render in old IE if if the site were built out in a mobile-first manner.
old-ie = false

// grid and breakpoint settings
use-markup-fix = false
palm = 480
desk = 786
bps = 'palm', 'lap', 'portable', 'desk'
padding-bottom = 30px

// grid fix for Safari
.grid
  font-size = 0
  &.with_margin
    margin-bottom = 10px

.grid__item
  font-size = 16px

.padding-bottom
  padding-bottom = padding-bottom
