<nav>
  <ul>
    {{#link-to 'styleguide' tagName='li'}}Styleguide{{/link-to}}
    {{#link-to 'setup' tagName='li'}}Setup{{/link-to}}
    {{#link-to 'welcome' tagName='li'}}Welcome{{/link-to}}
    {{#link-to 'index' tagName='li'}}Index{{/link-to}}
  </ul>
</nav>

{{outlet}}